body {
    background-color: #2d4059;
}

.header-row {
    display: flex;
    align-items: center; /* Вертикальное выравнивание по центру */
    width: 100%; /* Убедитесь, что контейнер занимает всю доступную ширину */
    padding: 10px;
    margin-top: 20px;
    background-color: #2d4059; /* Цвет фона */
    border-bottom: 2px solid #ccc; /* Нижняя граница */
}

.header-item {
    text-align: center; /* Центрирует текст внутри каждого элемента */
    font-weight: bold;
    color: #ccc; /* Цвет текста */
}

.header-item:first-child {
    flex: 0 0 40%; /* Занимает 40% ширины контейнера */
}

.header-item:nth-child(2) {
    flex: 0 0 20%; /* Занимает 20% ширины контейнера */
}

.header-item:last-child {
    flex: 0 0 40%; /* Занимает 40% ширины контейнера */
}

.level-skills-container {
    width: 100%; /* Устанавливаем ширину контейнера */
    display: flex;
    align-items: flex-start; /* Выравнивание по левому краю */
    padding: 20px;
    box-sizing: border-box; /* Учитываем отступы и границы в ширине */
}

.level {
    width: 40%;
    text-align: center;
}

.info {
    display: flex;
    width: 40%; /* Устанавливаем ширину для блока info */
    justify-content: space-between; /* Размещает элементы по краям */
    align-items: center; /* Вертикальное выравнивание по центру */
}

.avatar {
    width: 60%; /* Устанавливаем ширину для аватара */
    margin-bottom: 0; /* Убираем нижний отступ */
    text-align: center;
}

.attributes-list {
    width: 40%; /* Устанавливаем ширину для атрибутов */
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Три колонки */
    gap: 10px; /* Расстояние между колонками */
    margin: 0; /* Убираем отступы */
}

.attribute-item {
    display: contents; /* Позволяет элементам внутри занимать свои колонки */
}

.attribute-name, .attribute-value, .attribute-modifier {
    background-color: #3e536b;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
}

.equipment {
    width: 30%;
}

.skills-list {
    list-style-type: none; /* Убирает маркеры списка */
    margin-right: 0;
    background-color: #2d4059; /* Цвет фона */
    border-radius: 5px;
    max-width: 40%; /* Максимальная ширина блока */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Три колонки */
    gap: 10px; /* Расстояние между колонками */
}

.skill-item {
    display: grid;
    grid-template-columns: 70% 15% 15%; /* Три части внутри каждого элемента */
    background-color: #3e536b;
    padding: 5px;
    border-radius: 3px;
    align-items: center; /* Вертикальное выравнивание по центру */
}

.skill-name {
    text-align: left;
}

.separator {
    text-align: center;
}

.skill-mastery {
    text-align: right;
}

.additional-stats {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.stat-item {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.character-details {
    padding: 20px;
}
