.character {
    background-color: #2d4059;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.create-character-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #f44336;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.delete-button {
    padding: 8px 12px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.character h2 {
    margin: 0 0 10px 0;
}

.character p {
    margin: 5px 0;
}

.character-link {
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Наследуем цвет текста от родителя */
    display: block; /* Делаем всю область блока кликабельной */
}

.character-link:hover {
    cursor: pointer; /* Изменяем курсор на указатель при наведении */
}